In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## All Tables details

In [3]:
data = pd.read_csv("./visits.csv")
for col in data.columns:
    print(col)

Date of Visit
Patient ID
Provider ID
Department ID
Diagnosis ID
Procedure ID
Insurance ID
Service Type
Treatment Cost
Medication Cost
Follow-Up Visit Date
Patient Satisfaction Score
Referral Source
Emergency Visit
Payment Status
Discharge Date
Admitted Date
Room Type
Insurance Coverage
Room Charges(daily rate)

## Providers

In [23]:
data1 = pd.read_csv("./providers.csv")
# data1.info()
data1.head(5)
# data1['Provider Name'].unique()

,Provider ID,Provider Name,Gender,Nationality,Age,Image
0,1,Dr. Olu Abisola,Male,Nigerian,37,https://i.imgur.com/eG4Tcam.png
1,4,Dr. Ravi Patel,Male,Indian,45,https://i.imgur.com/0cmrpb3.png
2,2,Dr. Johnson Grek,Male,European,50,https://i.imgur.com/HWj2RL5.png
3,3,Dr. Emma Jones,Female,European,34,https://i.imgur.com/hgIjY62.png
4,5,Dr. Sade Kikiola,Female,Nigerian,35,https://i.imgur.com/3sep9QD.png

## Procedures

In [11]:
data2 = pd.read_csv("./procedures.csv")
data2.head()
# data2.info()

   Procedure ID   Procedure
0             2     CT Scan
1             5       X-Ray
2             4  Ultrasound
3             1  Blood Test
4             3    MRI Scan

## Patients

In [13]:
data3 = pd.read_csv("./patients.csv")
data3.head(5)

   Patient ID     Patient Name  Gender  Age  City ID      Race
0           1  Morgan Thompson    Male   18       10  Hispanic
1           2   Avery Anderson    Male   19       27  Hispanic
2           3       Aisha Khan  Female   20       10     Asian
3           4       Adanna Eze    Male   20        9     Black
4           5      Haruto Chen    Male   20        9     Asian

## Insurance

In [15]:
data4 = pd.read_csv("./insurance.csv")
data4.head(5)

   Insurance ID Insurance Provider
0             1              Aviva
1             2                AXA
2             3            Allianz

## Diagnoses

In [18]:
data5 = pd.read_csv("./diagnoses.csv")
data5.head(5)
# data5['Diagnosis'].unique()

   Diagnosis ID     Diagnosis
0             1  Appendicitis
1             4  Hypertension
2             2        Asthma
3             5      Migraine
4             3      Fracture

## Departments

In [21]:
data6 = pd.read_csv("./departments.csv")
data6.head(5)
# data6['Department'].unique()

   Department ID       Department
0              2  General Surgery
1              1       Cardiology
2              3        Neurology
3              5       Pediatrics
4              4      Orthopedics

## Cities

In [22]:
data7= pd.read_csv("./cities.csv")
data7.head(5)

   City ID        City             State
0       40   Sheffield             Wales
1        9   Edinburgh           England
2        2  Birmingham  Northern Ireland
3       13     Glasgow           England
4       37   Sheffield           England